In [988]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
from scipy import stats
import warnings

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
%matplotlib inline
warnings.filterwarnings('ignore')

In [989]:
#Load datasets
df_train=pd.read_csv("https://datahack-prod.s3.amazonaws.com/train_file/train_v9rqX0R.csv")
df_train

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [990]:
df_train.shape

(8523, 12)

In [991]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [992]:
df_train.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  7060.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.643456  ...        1706.499616
min       4.555000  ...          33.290000
25%       8.773750  ...         834.247400
50%      12.600000  ...        1794.331000
75%      16.850000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]

In [993]:
#Load datasets
df_test=pd.read_csv("https://datahack-prod.s3.amazonaws.com/test_file/test_AbJTz2l.csv")
df_test

     Item_Identifier  Item_Weight  ... Outlet_Location_Type        Outlet_Type
0              FDW58       20.750  ...               Tier 1  Supermarket Type1
1              FDW14        8.300  ...               Tier 2  Supermarket Type1
2              NCN55       14.600  ...               Tier 3      Grocery Store
3              FDQ58        7.315  ...               Tier 2  Supermarket Type1
4              FDY38          NaN  ...               Tier 3  Supermarket Type3
...              ...          ...  ...                  ...                ...
5676           FDB58       10.500  ...               Tier 1  Supermarket Type1
5677           FDD47        7.600  ...               Tier 3  Supermarket Type2
5678           NCO17       10.000  ...               Tier 2  Supermarket Type1
5679           FDJ26       15.300  ...               Tier 2  Supermarket Type1
5680           FDU37        9.500  ...               Tier 2  Supermarket Type1

[5681 rows x 11 columns]

In [994]:
df_test.shape

(5681, 11)

In [995]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5681 non-null   object
 1   Item_Weight                4705 non-null   float64
 2   Item_Fat_Content           5681 non-null   object
 3   Item_Visibility            5681 non-null   float64
 4   Item_Type                  5681 non-null   object
 5   Item_MRP                   5681 non-null   float64
 6   Outlet_Identifier          5681 non-null   object
 7   Outlet_Establishment_Year  5681 non-null   int64
 8   Outlet_Size                4075 non-null   object
 9   Outlet_Location_Type       5681 non-null   object
 10  Outlet_Type                5681 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [996]:
df_test.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  4705.000000      5681.000000  5681.000000                5681.000000
mean     12.695633         0.065684   141.023273                1997.828903
std       4.664849         0.051252    61.809091                   8.372256
min       4.555000         0.000000    31.990000                1985.000000
25%       8.645000         0.027047    94.412000                1987.000000
50%      12.500000         0.054154   141.415400                1999.000000
75%      16.700000         0.093463   186.026600                2004.000000
max      21.350000         0.323637   266.588400                2009.000000

In [997]:
# Display vars that have 1 or more missing data points
print('Training Data:')
print(df_train.isnull().sum().sort_values(ascending=False).head(20))# display top categories with missing data
print('---------------------------')
print('Test Data:')
print(df_test.isnull().sum().sort_values(ascending=False).head(35)) # check in Test data too so you don't build model around vars that don't exist

Training Data:
Outlet_Size                  2410
Item_Weight                  1463
Item_Outlet_Sales               0
Outlet_Type                     0
Outlet_Location_Type            0
Outlet_Establishment_Year       0
Outlet_Identifier               0
Item_MRP                        0
Item_Type                       0
Item_Visibility                 0
Item_Fat_Content                0
Item_Identifier                 0
dtype: int64
---------------------------
Test Data:
Outlet_Size                  1606
Item_Weight                   976
Outlet_Type                     0
Outlet_Location_Type            0
Outlet_Establishment_Year       0
Outlet_Identifier               0
Item_MRP                        0
Item_Type                       0
Item_Visibility                 0
Item_Fat_Content                0
Item_Identifier                 0
dtype: int64

In [998]:
# fill up missing values with mode
df_train['Outlet_Size'] = df_train['Outlet_Size'].fillna(df_train['Outlet_Size'].mode()[0])
df_test['Outlet_Size'] = df_test['Outlet_Size'].fillna(df_test['Outlet_Size'].mode()[0])

df_train['Item_Weight'] = df_train['Item_Weight'].fillna(df_train['Item_Weight'].mode()[0])
df_test['Item_Weight'] = df_test['Item_Weight'].fillna(df_test['Item_Weight'].mode()[0])

In [999]:
df_train.isnull().sum().sum(), df_test.isnull().sum().sum()

(0, 0)

In [1000]:
weight=df_train.groupby('Item_Weight')['Item_Outlet_Sales'].sum().reset_index()
weight

     Item_Weight  Item_Outlet_Sales
0          4.555          7046.8272
1          4.590          6338.4160
2          4.610         13955.1680
3          4.615         16312.1000
4          4.635         10922.4490
..           ...                ...
410       21.000          7168.6686
411       21.100         31475.0292
412       21.200         13818.6790
413       21.250         52780.6292
414       21.350         23740.4306

[415 rows x 2 columns]

In [1001]:
df_train.Item_Weight.isnull().sum().sum(), df_test.Item_Weight.isnull().sum().sum()

(0, 0)

In [1002]:
fat=df_train.groupby('Item_Fat_Content')['Item_Outlet_Sales'].sum().reset_index()
fat

  Item_Fat_Content  Item_Outlet_Sales
0               LF       6.552424e+05
1          Low Fat       1.101503e+07
2          Regular       6.457454e+06
3          low fat       2.338270e+05
4              reg       2.295765e+05

In [1003]:
fat1={'LF':0, 'Low Fat':0, 'low fat':0,'Regular':1,'reg':1 }
df_train.Item_Fat_Content=df_train.Item_Fat_Content.map(fat1)
df_test.Item_Fat_Content=df_test.Item_Fat_Content.map(fat1)

In [1004]:
fat2=df_train.groupby('Item_Fat_Content')['Item_Outlet_Sales'].sum().reset_index()
fat2

   Item_Fat_Content  Item_Outlet_Sales
0                 0       1.190409e+07
1                 1       6.687031e+06

In [1005]:
df_train.Item_Fat_Content.isnull().sum().sum(), df_test.Item_Fat_Content.isnull().sum().sum()

(0, 0)

In [1006]:
vis=df_train.groupby('Item_Visibility')['Item_Outlet_Sales'].sum().reset_index()
vis

      Item_Visibility  Item_Outlet_Sales
0            0.000000       1.169058e+06
1            0.003575       3.229796e+03
2            0.003589       1.691798e+03
3            0.003598       2.922196e+03
4            0.003599       3.075996e+03
...               ...                ...
7875         0.309390       1.384864e+02
7876         0.311090       1.544656e+02
7877         0.321115       1.997400e+02
7878         0.325781       7.610094e+02
7879         0.328391       5.885672e+02

[7880 rows x 2 columns]

In [1007]:
df_train.Item_Visibility.isnull().sum().sum(), df_test.Item_Visibility.isnull().sum().sum()

(0, 0)

In [1008]:
type1=df_train.groupby('Item_Type')['Item_Outlet_Sales'].sum().reset_index()
type1

                Item_Type  Item_Outlet_Sales
0            Baking Goods       1.265525e+06
1                  Breads       5.532372e+05
2               Breakfast       2.322990e+05
3                  Canned       1.444151e+06
4                   Dairy       1.522594e+06
5            Frozen Foods       1.825735e+06
6   Fruits and Vegetables       2.820060e+06
7             Hard Drinks       4.577934e+05
8      Health and Hygiene       1.045200e+06
9               Household       2.055494e+06
10                   Meat       9.175656e+05
11                 Others       3.255176e+05
12                Seafood       1.488682e+05
13            Snack Foods       2.732786e+06
14            Soft Drinks       8.928977e+05
15          Starchy Foods       3.514013e+05

In [1009]:
type2={'Baking Goods':1, 'Breads':2, 'Breakfast':3,'Canned':4,'Dairy':5, 'Frozen Foods':6, 'Fruits and Vegetables':7,
       'Hard Drinks':8, 'Health and Hygiene':9, 'Household': 10, 'Meat':11, 'Others':12, 'Seafood':13, 'Snack Foods':14,
       'Soft Drinks':15, 'Starchy Foods':16}
df_train.Item_Type=df_train.Item_Type.map(type2)
df_test.Item_Type=df_test.Item_Type.map(type2)

In [1010]:
type3=df_train.groupby('Item_Type')['Item_Outlet_Sales'].sum().reset_index()
type3

    Item_Type  Item_Outlet_Sales
0           1       1.265525e+06
1           2       5.532372e+05
2           3       2.322990e+05
3           4       1.444151e+06
4           5       1.522594e+06
5           6       1.825735e+06
6           7       2.820060e+06
7           8       4.577934e+05
8           9       1.045200e+06
9          10       2.055494e+06
10         11       9.175656e+05
11         12       3.255176e+05
12         13       1.488682e+05
13         14       2.732786e+06
14         15       8.928977e+05
15         16       3.514013e+05

In [1011]:
df_train.Item_Type.isnull().sum().sum(), df_test.Item_Type.isnull().sum().sum()

(0, 0)

In [1012]:
mrp=df_train.groupby('Item_MRP')['Item_Outlet_Sales'].sum().reset_index()
mrp

      Item_MRP  Item_Outlet_Sales
0      31.2900           898.8300
1      31.4900           466.0600
2      31.8900           366.1900
3      31.9558          1358.2320
4      32.0558          1018.6740
...        ...                ...
5933  266.1884          8479.6288
5934  266.2884          2914.8724
5935  266.5884          7949.6520
5936  266.6884          4239.8144
5937  266.8884          6094.7332

[5938 rows x 2 columns]

In [1013]:
df_train.Item_MRP.isnull().sum().sum(), df_test.Item_MRP.isnull().sum().sum()

(0, 0)

In [1014]:
df_train['Outlet_Identifier'] = df_train['Outlet_Identifier'].str.lstrip("OUT0")
df_test['Outlet_Identifier'] = df_test['Outlet_Identifier'].str.lstrip("OUT0")

In [1015]:
ident=df_train.groupby('Outlet_Identifier')['Item_Outlet_Sales'].sum().reset_index()
ident

  Outlet_Identifier  Item_Outlet_Sales
0                10       1.883402e+05
1                13       2.142664e+06
2                17       2.167465e+06
3                18       1.851823e+06
4                19       1.796941e+05
5                27       3.453926e+06
6                35       2.268123e+06
7                45       2.036725e+06
8                46       2.118395e+06
9                49       2.183970e+06

In [1016]:
df_train.Outlet_Identifier.isnull().sum().sum(), df_test.Outlet_Identifier.isnull().sum().sum()

(0, 0)

In [1017]:
year=df_train.groupby('Outlet_Establishment_Year')['Item_Outlet_Sales'].sum().reset_index()
year

   Outlet_Establishment_Year  Item_Outlet_Sales
0                       1985       3.633620e+06
1                       1987       2.142664e+06
2                       1997       2.118395e+06
3                       1998       1.883402e+05
4                       1999       2.183970e+06
5                       2002       2.036725e+06
6                       2004       2.268123e+06
7                       2007       2.167465e+06
8                       2009       1.851823e+06

In [1018]:
df_train.Outlet_Establishment_Year.isnull().sum().sum(), df_test.Outlet_Establishment_Year.isnull().sum().sum()

(0, 0)

In [1019]:
size=df_train.groupby('Outlet_Size')['Item_Outlet_Sales'].sum().reset_index()
size

  Outlet_Size  Item_Outlet_Sales
0        High       2.142664e+06
1      Medium       1.188225e+07
2       Small       4.566212e+06

In [1020]:
size1={'High':1, 'Medium':2, 'Small':3}
df_train.Outlet_Size=df_train.Outlet_Size.map(size1)
df_test.Outlet_Size=df_test.Outlet_Size.map(size1)

In [1021]:
size2=df_train.groupby('Outlet_Size')['Item_Outlet_Sales'].sum().reset_index()
size2

   Outlet_Size  Item_Outlet_Sales
0            1       2.142664e+06
1            2       1.188225e+07
2            3       4.566212e+06

In [1022]:
df_train.Outlet_Size.isnull().sum().sum(), df_test.Outlet_Size.isnull().sum().sum()

(0, 0)

In [1023]:
df_train['Outlet_Location_Type'] = df_train['Outlet_Location_Type'].str.lstrip("Tier ")
df_test['Outlet_Location_Type'] = df_test['Outlet_Location_Type'].str.lstrip("Tier ")

In [1024]:
locale=df_train.groupby('Outlet_Location_Type')['Item_Outlet_Sales'].sum().reset_index()
locale

  Outlet_Location_Type  Item_Outlet_Sales
0                    1       4.482059e+06
1                    2       6.472314e+06
2                    3       7.636753e+06

In [1025]:
df_train.Outlet_Location_Type.isnull().sum().sum(), df_test.Outlet_Location_Type.isnull().sum().sum()

(0, 0)

In [1026]:
df_train['Outlet_Type'] = df_train['Outlet_Type'].str.lstrip("Supermarket Type")
df_test['Outlet_Type'] = df_test['Outlet_Type'].str.lstrip("Supermarket Type")

In [1027]:
type0=df_train.groupby('Outlet_Type')['Item_Outlet_Sales'].sum().reset_index()
type0

     Outlet_Type  Item_Outlet_Sales
0              1       1.291734e+07
1              2       1.851823e+06
2              3       3.453926e+06
3  Grocery Store       3.680343e+05

In [1028]:
type3={'1':1, '2':2, '3':3, 'Grocery Store':4}
df_train.Outlet_Type=df_train.Outlet_Type.map(type3)
df_test.Outlet_Type=df_test.Outlet_Type.map(type3)

In [1029]:
type3=df_train.groupby('Outlet_Type')['Item_Outlet_Sales'].sum().reset_index()
type3

   Outlet_Type  Item_Outlet_Sales
0            1       1.291734e+07
1            2       1.851823e+06
2            3       3.453926e+06
3            4       3.680343e+05

In [1030]:
df_train.Outlet_Type.isnull().sum().sum(), df_test.Outlet_Type.isnull().sum().sum()

(0, 0)

In [1031]:
df_train

     Item_Identifier  Item_Weight  ...  Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...            1          3735.1380
1              DRC01        5.920  ...            2           443.4228
2              FDN15       17.500  ...            1          2097.2700
3              FDX07       19.200  ...            4           732.3800
4              NCD19        8.930  ...            1           994.7052
...              ...          ...  ...          ...                ...
8518           FDF22        6.865  ...            1          2778.3834
8519           FDS36        8.380  ...            1           549.2850
8520           NCJ29       10.600  ...            1          1193.1136
8521           FDN46        7.210  ...            2          1845.5976
8522           DRG01       14.800  ...            1           765.6700

[8523 rows x 12 columns]

In [1032]:
df_test

     Item_Identifier  Item_Weight  ...  Outlet_Location_Type  Outlet_Type
0              FDW58       20.750  ...                     1            1
1              FDW14        8.300  ...                     2            1
2              NCN55       14.600  ...                     3            4
3              FDQ58        7.315  ...                     2            1
4              FDY38       10.500  ...                     3            3
...              ...          ...  ...                   ...          ...
5676           FDB58       10.500  ...                     1            1
5677           FDD47        7.600  ...                     3            2
5678           NCO17       10.000  ...                     2            1
5679           FDJ26       15.300  ...                     2            1
5680           FDU37        9.500  ...                     2            1

[5681 rows x 11 columns]

In [1033]:
#define x, y and x_test
y = df_train["Item_Outlet_Sales"]
features = ["Item_Weight", "Item_Fat_Content", "Item_Visibility", "Item_Type", "Item_MRP", "Outlet_Identifier", "Outlet_Establishment_Year", "Outlet_Size", "Outlet_Location_Type"]
X = pd.get_dummies(df_train[features])
X_test = pd.get_dummies(df_test[features])

In [1034]:
# define standard scaler
scaler = StandardScaler()
# transform data
X= scaler.fit_transform(X)
X

array([[-0.81151126, -0.73814723, -0.97073217, ...,  1.60283982,
        -0.69667837, -0.8047318 ],
       [-1.60975569,  1.35474328, -0.90811123, ..., -0.62389266,
        -0.69667837,  1.24265003],
       [ 1.12505806, -0.73814723, -0.95691733, ...,  1.60283982,
        -0.69667837, -0.8047318 ],
       ...,
       [-0.50449417, -0.73814723, -0.59978449, ..., -0.62389266,
         1.43538258, -0.8047318 ],
       [-1.30510027,  1.35474328,  1.53287976, ..., -0.62389266,
        -0.69667837,  1.24265003],
       [ 0.48740719, -0.73814723, -0.41193591, ...,  1.60283982,
        -0.69667837, -0.8047318 ]])

In [1035]:
X_test= scaler.fit_transform(X_test)
X_test

array([[ 1.94956229, -0.74081066, -1.13407715, ...,  1.60264386,
        -0.69658363, -0.80474953],
       [-0.92914563,  1.34987258, -0.53185019, ..., -0.62396895,
         1.4355778 , -0.80474953],
       [ 0.52754995, -0.74081066,  0.6613164 , ..., -0.62396895,
        -0.69658363,  1.24262265],
       ...,
       [-0.53606904, -0.74081066,  0.15307374, ..., -0.62396895,
         1.4355778 , -0.80474953],
       [ 0.68940501,  1.34987258, -1.28168987, ..., -0.62396895,
         1.4355778 , -0.80474953],
       [-0.6516798 ,  1.34987258,  0.76171558, ..., -0.62396895,
         1.4355778 , -0.80474953]])

In [1036]:
# Split into validation and training data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)
test_X = test_data_imputed.copy()[all_features]

In [1037]:
# shape of training and validation set
(train_X.shape, val_X.shape), (train_y.shape, val_y.shape)

(((6392, 20), (2131, 20)), ((6392,), (2131,)))

In [1038]:
# checking the version of keras
import keras
print(keras.__version__)

2.4.3

In [1039]:
# checking the version of tensorflow
import tensorflow as tf
print(tf.__version__)

2.3.0

In [1040]:
# importing the sequential model
from keras.models import Sequential

In [1041]:
# importing different layers from keras
from keras.layers import InputLayer, Dense

In [1042]:
# number of input neurons
train_X.shape

(6392, 20)

In [1043]:
# number of features in the data
train_X.shape[1]

20

In [1044]:
# defining input neurons
input_neurons = train_X.shape[1]

In [1045]:
# define number of output neurons
output_neurons = 1

In [1046]:
# define hidden layers and neuron in each layer
number_of_hidden_layers = 2
neuron_hidden_layer_1 = 10
neuron_hidden_layer_2 = 5

In [1047]:
# defining the architecture of the model
model = Sequential()
model.add(InputLayer(input_shape=(input_neurons,)))
model.add(Dense(units=neuron_hidden_layer_1, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_2, activation='relu'))
model.add(Dense(units=output_neurons, activation='linear'))

In [1048]:
# summary of the model
model.summary()

Model: "sequential_15"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_45 (Dense)             (None, 10)                210
_________________________________________________________________
dense_46 (Dense)             (None, 5)                 55
_________________________________________________________________
dense_47 (Dense)             (None, 1)                 6
=================================================================
Total params: 271
Trainable params: 271
Non-trainable params: 0
_________________________________________________________________

In [1049]:
# number of parameters between input and first hidden layer
input_neurons*neuron_hidden_layer_1

200

In [1050]:
# number of parameters between input and first hidden layer
# adding the bias for each neuron of first hidden layer
input_neurons*neuron_hidden_layer_1 + 10

210

In [1051]:
# number of parameters between first and second hidden layer
neuron_hidden_layer_1*neuron_hidden_layer_2 + 5

55

In [1052]:
# number of parameters between second hidden and output layer
neuron_hidden_layer_2*output_neurons + 1

6

In [1053]:
# compiling the model
# loss as binary_crossentropy, since we have binary classification problem
# defining the optimizer as adam
# Evaluation metric as accuracy
model.compile(loss='mse',optimizer='Adam',metrics=['accuracy'])

In [1054]:
train_X

array([[-1.33107864, -0.73814723,  0.85479095, ..., -0.62389266,
         1.43538258, -0.8047318 ],
       [-0.03216019,  1.35474328,  0.15905739, ..., -0.62389266,
         1.43538258, -0.8047318 ],
       [-1.11380501, -0.73814723,  0.87775441, ..., -0.62389266,
         1.43538258, -0.8047318 ],
       ...,
       [ 1.20771651, -0.73814723, -0.00624063, ...,  1.60283982,
        -0.69667837, -0.8047318 ],
       [-0.74066117, -0.73814723, -0.32007616, ..., -0.62389266,
        -0.69667837,  1.24265003],
       [-0.13843534, -0.73814723, -0.43722179, ..., -0.62389266,
        -0.69667837,  1.24265003]])

In [1055]:
# training the model
# passing the independent and dependent features for training set for training the model
# validation data will be evaluated at the end of each epoch
# setting the epochs as 50
# storing the trained model in model_history variable which will be used to visualize the training process

train_X = np.asarray(train_X, dtype=np.float)
train_y = np.asarray(train_y, dtype=np.float)
val_X = np.asarray(val_X, dtype=np.float)
val_y = np.asarray(val_y, dtype=np.float)

model_history = model.fit(train_X, train_y, validation_data=(val_X, val_y), epochs=50)

Epoch 1/50
200/200 [==============================] - 0s 2ms/step - loss: 7686182.5000 - accuracy: 0.0000e+00 - val_loss: 7507966.0000 - val_accuracy: 0.0000e+00
Epoch 2/50
200/200 [==============================] - 0s 1ms/step - loss: 7547167.5000 - accuracy: 0.0000e+00 - val_loss: 7249019.0000 - val_accuracy: 0.0000e+00
Epoch 3/50
200/200 [==============================] - 0s 1ms/step - loss: 7105637.0000 - accuracy: 0.0000e+00 - val_loss: 6622539.5000 - val_accuracy: 0.0000e+00
Epoch 4/50
200/200 [==============================] - 0s 1ms/step - loss: 6268627.5000 - accuracy: 0.0000e+00 - val_loss: 5614554.5000 - val_accuracy: 0.0000e+00
Epoch 5/50
200/200 [==============================] - 0s 1ms/step - loss: 5100330.5000 - accuracy: 0.0000e+00 - val_loss: 4375584.0000 - val_accuracy: 0.0000e+00
Epoch 6/50
200/200 [==============================] - 0s 1ms/step - loss: 3830727.0000 - accuracy: 0.0000e+00 - val_loss: 3182723.7500 - val_accuracy: 0.0000e+00
Epoch 7/50
200/200 [==============================] - 0s 1ms/step - loss: 2744105.2500 - accuracy: 0.0000e+00 - val_loss: 2282145.7500 - val_accuracy: 0.0000e+00
Epoch 8/50
200/200 [==============================] - 0s 1ms/step - loss: 2026836.2500 - accuracy: 0.0000e+00 - val_loss: 1768455.7500 - val_accuracy: 0.0000e+00
Epoch 9/50
200/200 [==============================] - 0s 1ms/step - loss: 1660761.2500 - accuracy: 0.0000e+00 - val_loss: 1534929.0000 - val_accuracy: 0.0000e+00
Epoch 10/50
200/200 [==============================] - 0s 1ms/step - loss: 1501208.2500 - accuracy: 0.0000e+00 - val_loss: 1430239.0000 - val_accuracy: 0.0000e+00
Epoch 11/50
200/200 [==============================] - 0s 1ms/step - loss: 1425232.3750 - accuracy: 0.0000e+00 - val_loss: 1372802.7500 - val_accuracy: 0.0000e+00
Epoch 12/50
200/200 [==============================] - 0s 1ms/step - loss: 1376693.8750 - accuracy: 0.0000e+00 - val_loss: 1332546.1250 - val_accuracy: 0.0000e+00
Epoch 13/50
200/200 [==============================] - 0s 1ms/step - loss: 1340038.1250 - accuracy: 0.0000e+00 - val_loss: 1299606.8750 - val_accuracy: 0.0000e+00
Epoch 14/50
200/200 [==============================] - 0s 1ms/step - loss: 1310483.7500 - accuracy: 0.0000e+00 - val_loss: 1273769.0000 - val_accuracy: 0.0000e+00
Epoch 15/50
200/200 [==============================] - 0s 1ms/step - loss: 1286062.0000 - accuracy: 0.0000e+00 - val_loss: 1251833.1250 - val_accuracy: 0.0000e+00
Epoch 16/50
200/200 [==============================] - 0s 1ms/step - loss: 1266149.3750 - accuracy: 0.0000e+00 - val_loss: 1234658.7500 - val_accuracy: 0.0000e+00
Epoch 17/50
200/200 [==============================] - 0s 2ms/step - loss: 1249250.8750 - accuracy: 0.0000e+00 - val_loss: 1220332.7500 - val_accuracy: 0.0000e+00
Epoch 18/50
200/200 [==============================] - 0s 1ms/step - loss: 1235436.0000 - accuracy: 0.0000e+00 - val_loss: 1208104.8750 - val_accuracy: 0.0000e+00
Epoch 19/50
200/200 [==============================] - 0s 1ms/step - loss: 1224123.3750 - accuracy: 0.0000e+00 - val_loss: 1199446.7500 - val_accuracy: 0.0000e+00
Epoch 20/50
200/200 [==============================] - 0s 1ms/step - loss: 1215003.6250 - accuracy: 0.0000e+00 - val_loss: 1191169.1250 - val_accuracy: 0.0000e+00
Epoch 21/50
200/200 [==============================] - 0s 1ms/step - loss: 1207468.0000 - accuracy: 0.0000e+00 - val_loss: 1185294.0000 - val_accuracy: 0.0000e+00
Epoch 22/50
200/200 [==============================] - 0s 1ms/step - loss: 1201674.5000 - accuracy: 0.0000e+00 - val_loss: 1180290.2500 - val_accuracy: 0.0000e+00
Epoch 23/50
200/200 [==============================] - 0s 1ms/step - loss: 1196443.0000 - accuracy: 0.0000e+00 - val_loss: 1175662.6250 - val_accuracy: 0.0000e+00
Epoch 24/50
200/200 [==============================] - 0s 1ms/step - loss: 1192290.2500 - accuracy: 0.0000e+00 - val_loss: 1173255.7500 - val_accuracy: 0.0000e+00
Epoch 25/50
200/200 [==============================] - 0s 1ms/step - loss: 1189510.2500 - accuracy: 0.0000e+00 - val_loss: 1170715.2500 - val_accuracy: 0.0000e+00
Epoch 26/50
200/200 [==============================] - 0s 1ms/step - loss: 1186617.5000 - accuracy: 0.0000e+00 - val_loss: 1168782.6250 - val_accuracy: 0.0000e+00
Epoch 27/50
200/200 [==============================] - 0s 1ms/step - loss: 1184252.0000 - accuracy: 0.0000e+00 - val_loss: 1167887.1250 - val_accuracy: 0.0000e+00
Epoch 28/50
200/200 [==============================] - 0s 1ms/step - loss: 1181974.3750 - accuracy: 0.0000e+00 - val_loss: 1165897.0000 - val_accuracy: 0.0000e+00
Epoch 29/50
200/200 [==============================] - 0s 1ms/step - loss: 1180408.5000 - accuracy: 0.0000e+00 - val_loss: 1164983.7500 - val_accuracy: 0.0000e+00
Epoch 30/50
200/200 [==============================] - 0s 1ms/step - loss: 1179109.6250 - accuracy: 0.0000e+00 - val_loss: 1163725.6250 - val_accuracy: 0.0000e+00
Epoch 31/50
200/200 [==============================] - 0s 1ms/step - loss: 1177679.5000 - accuracy: 0.0000e+00 - val_loss: 1162608.6250 - val_accuracy: 0.0000e+00
Epoch 32/50
200/200 [==============================] - 0s 1ms/step - loss: 1177235.6250 - accuracy: 0.0000e+00 - val_loss: 1161574.6250 - val_accuracy: 0.0000e+00
Epoch 33/50
200/200 [==============================] - 0s 1ms/step - loss: 1175562.0000 - accuracy: 0.0000e+00 - val_loss: 1161287.0000 - val_accuracy: 0.0000e+00
Epoch 34/50
200/200 [==============================] - 0s 1ms/step - loss: 1174445.6250 - accuracy: 0.0000e+00 - val_loss: 1160304.5000 - val_accuracy: 0.0000e+00
Epoch 35/50
200/200 [==============================] - 0s 1ms/step - loss: 1173657.8750 - accuracy: 0.0000e+00 - val_loss: 1160575.1250 - val_accuracy: 0.0000e+00
Epoch 36/50
200/200 [==============================] - 0s 1ms/step - loss: 1172656.3750 - accuracy: 0.0000e+00 - val_loss: 1159479.8750 - val_accuracy: 0.0000e+00
Epoch 37/50
200/200 [==============================] - 0s 1ms/step - loss: 1172078.8750 - accuracy: 0.0000e+00 - val_loss: 1158693.0000 - val_accuracy: 0.0000e+00
Epoch 38/50
200/200 [==============================] - 0s 1ms/step - loss: 1171274.1250 - accuracy: 0.0000e+00 - val_loss: 1158163.2500 - val_accuracy: 0.0000e+00
Epoch 39/50
200/200 [==============================] - 0s 1ms/step - loss: 1170500.1250 - accuracy: 0.0000e+00 - val_loss: 1157561.2500 - val_accuracy: 0.0000e+00
Epoch 40/50
200/200 [==============================] - 0s 1ms/step - loss: 1169609.1250 - accuracy: 0.0000e+00 - val_loss: 1157413.7500 - val_accuracy: 0.0000e+00
Epoch 41/50
200/200 [==============================] - 0s 1ms/step - loss: 1168989.2500 - accuracy: 0.0000e+00 - val_loss: 1156774.6250 - val_accuracy: 0.0000e+00
Epoch 42/50
200/200 [==============================] - 0s 1ms/step - loss: 1168541.1250 - accuracy: 0.0000e+00 - val_loss: 1156662.6250 - val_accuracy: 0.0000e+00
Epoch 43/50
200/200 [==============================] - 0s 1ms/step - loss: 1168061.0000 - accuracy: 0.0000e+00 - val_loss: 1155460.2500 - val_accuracy: 0.0000e+00
Epoch 44/50
200/200 [==============================] - 0s 1ms/step - loss: 1167174.6250 - accuracy: 0.0000e+00 - val_loss: 1155373.7500 - val_accuracy: 0.0000e+00
Epoch 45/50
200/200 [==============================] - 0s 1ms/step - loss: 1166486.3750 - accuracy: 0.0000e+00 - val_loss: 1155250.8750 - val_accuracy: 0.0000e+00
Epoch 46/50
200/200 [==============================] - 0s 1ms/step - loss: 1166119.2500 - accuracy: 0.0000e+00 - val_loss: 1154380.2500 - val_accuracy: 0.0000e+00
Epoch 47/50
200/200 [==============================] - 0s 1ms/step - loss: 1165641.6250 - accuracy: 0.0000e+00 - val_loss: 1153752.0000 - val_accuracy: 0.0000e+00
Epoch 48/50
200/200 [==============================] - 0s 1ms/step - loss: 1165203.3750 - accuracy: 0.0000e+00 - val_loss: 1153695.0000 - val_accuracy: 0.0000e+00
Epoch 49/50
200/200 [==============================] - 0s 1ms/step - loss: 1164730.2500 - accuracy: 0.0000e+00 - val_loss: 1152990.2500 - val_accuracy: 0.0000e+00
Epoch 50/50
200/200 [==============================] - 0s 1ms/step - loss: 1163890.7500 - accuracy: 0.0000e+00 - val_loss: 1152876.5000 - val_accuracy: 0.0000e+00

In [1056]:
from sklearn.metrics import mean_squared_error,mean_absolute_error
predictions = model.predict(X_test)
predictions

array([[1744.4048],
       [1433.2289],
       [ 883.6203],
       ...,
       [1696.6794],
       [3681.5393],
       [1177.3772]], dtype=float32)

In [1057]:
predictions

array([[1744.4048],
       [1433.2289],
       [ 883.6203],
       ...,
       [1696.6794],
       [3681.5393],
       [1177.3772]], dtype=float32)

In [1058]:
predictions.shape

(5681, 1)

In [1059]:
predictions.ndim

2

In [1060]:
predictions=predictions.flatten()
predictions.ndim

1

In [1061]:
#Load sample submission
df_sample=pd.read_csv("https://datahack-prod.s3.amazonaws.com/sample_submission/sample_submission_8RXa3c6.csv")
df_sample

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049               1000
1              FDW14            OUT017               1000
2              NCN55            OUT010               1000
3              FDQ58            OUT017               1000
4              FDY38            OUT027               1000
...              ...               ...                ...
5676           FDB58            OUT046               1000
5677           FDD47            OUT018               1000
5678           NCO17            OUT045               1000
5679           FDJ26            OUT017               1000
5680           FDU37            OUT045               1000

[5681 rows x 3 columns]

In [1062]:
df_test.Outlet_Identifier="OUT0"+df_test.Outlet_Identifier

In [1063]:
output = pd.DataFrame({'Item_Identifier': df_test.Item_Identifier,'Outlet_Identifier': df_test.Outlet_Identifier,
                       'Item_Outlet_Sales': predictions})
output.to_csv('submission.csv', index=False)
output

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049        1744.404785
1              FDW14            OUT017        1433.228882
2              NCN55            OUT010         883.620300
3              FDQ58            OUT017        2588.942627
4              FDY38            OUT027        5803.246582
...              ...               ...                ...
5676           FDB58            OUT046        2264.766113
5677           FDD47            OUT018        2395.046387
5678           NCO17            OUT045        1696.679443
5679           FDJ26            OUT017        3681.539307
5680           FDU37            OUT045        1177.377197

[5681 rows x 3 columns]